<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UnitHub</title>

        <link rel="stylesheet" th:href="@{/css/relatorio_funcionarios.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>

    <body>

        <header>
            <div id="superior" th:style=" 'background-color: ' + ${e.getCor} + ';'" class="d-flex justify-content-between align-items-center px-5 py-3">
                <div> <img th:src="@{${e.getFoto}}" alt="" id="logo"> </div>
                <div id="usuario_infos"> <button id="usuario_foto"><img th:src="@{/imgs/foto.png}" alt=""></button> <span th:text="${u.nome}" >nome</span> </div>
            </div>
        </header>

        <main>
            <div id="titulo_pagina">
                <h1>DASHBOARD</h1>
                <h3>RELATÓRIO: QUADRO DE FUNCIONÁRIOS MENSAL</h3>
            </div>

            <div id="acoes">
                <button type="button" id="exportar_pdf">EXPORTAR EM PDF</button>
                <button type="button" id="voltar">← VOLTAR</button>
            </div>

            <h2 id="titulo_secao">QUADRO DE FUNCIONÁRIOS</h2>

            <div class="linha_cards">

                <section class="card_relatorio" id="card_totais">
                    <div class="titulo_card">
                        <strong>TOTAL DE FUNCIONÁRIOS</strong>
                        <strong th:text="${f_total}"></strong>
                    </div>

                    <div class="item_total">
                        <span>FUNCIONÁRIOS ATIVOS</span>
                        <span th:text="${ativo}"></span>
                    </div>
                    <div class="item_total">
                        <span>EM LICENÇA</span>
                        <span th:text="${licenca}"></span>
                    </div>
                    <div class="item_total">
                        <span>INATIVOS</span>
                        <span th:text="${inativo}"></span>
                    </div>
                    <div class="item_total">
                        <span >ADMISSÕES</span>
                        <span th:text="${f_admissoes}"></span>
                    </div>
                    <div class="item_total">
                        <span>DESLIGAMENTOS</span>
                        <span th:text="${desligado}"></span>
                    </div>
                </section>

                <section class="card_relatorio" id="card_departamentos">
                    <strong class="titulo_card_simples">FUNCIONÁRIOS POR DEPARTAMENTO</strong>
                    <canvas id="grafico_departamentos">
                        
                    </canvas>
                </section>
            </div>

            <div class="linha_cards segunda_linha">

                <section class="card_relatorio" id="card_situacao">
                    <strong class="titulo_card_simples">SITUAÇÃO DE FUNCIONÁRIOS</strong>
                    <canvas id="grafico_situacao">

                    </canvas>
                </section>

                <section class="card_relatorio" id="card_calendario">
                    <strong class="titulo_card_simples">ADMISSÕES E DESLIGAMENTOS</strong>
                    <h4 id="mes_calendario"></h4>
                    <div class="dias_semana">
                        <span>Se</span>
                        <span>Te</span>
                        <span>Qu</span>
                        <span>Qu</span>
                        <span>Se</span>
                        <span>Sá</span>
                        <span>Do</span>
                    </div>
                    <div class="calendario" id="calendario">

                        <!--
                            Os dias do mês serão
                            criados automaticamente
                            pelo JavaScript.
                        -->

                    </div>
                    <div class="legenda">
                        <div>
                            <span class="quadrado_legend bg-success"></span>
                            <span>ADMISSÕES</span>
                        </div>
                        <div>
                            <span class="quadrado_legend bg-danger"></span>
                            <span>DESLIGAMENTOS</span>
                        </div>
                    </div>
                </section>
            </div>

            <section class="card_relatorio" id="card_tabela">
                <div class="tabela">
                    <div class="tabela_header">
                        <strong>FUNCIONÁRIO</strong>
                        <strong>CARGO</strong>
                        <strong>DEPARTAMENTO</strong>
                        <strong>ADMISSÃO</strong>
                        <strong>SITUAÇÃO</strong>
                    </div>
                    <div id="tabela_scroll">
                        <div th:each="f : ${funcionarios}" class="tabela_linha">
                            <span th:text="${f.nome}">NOME SOBRENOME 1</span>
                            <span th:text="${f.cargo}">NOME CARGO A</span>
                            <span th:text="${f.getNomeDepartamento}">NOME DEPARTAMENTO A</span>
                            <span class="admissao_span" th:text="${f.data_admissao}">00/00/0000</span>
                            <span th:text="${f.estado}">ATIVO</span>
                        </div>
                    </div>
            </section>
        </main>

        <script th:src="@{/js/config.js}"></script>
        <script th:src="@{/js/chart.js}"></script>
        <script th:inline="javascript">
            const departamentos = /*[[${departamento_funcionarios}]]*/ {};
            const ativo = /*[[${ativo}]]*/ 0;
            const inativo = /*[[${inativo}]]*/ 0;
            const ferias = /*[[${ferias}]]*/ 0;
            const licenca = /*[[${licenca}]]*/ 0;

        </script>
        <script th:src="@{/js/relatorio_funcionarios.js}"></script>

    </body>
</html>
