<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UnitHub</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/solicitacoes_avaliacao.css}">
    </head>
    
    <body>
            <div id="superior" class="d-flex justify-content-between align-items-center px-5 py-3">
                <div> <img th:src="@{/imgs/logo_full.png}" alt="" id="logo"> </div>
                <div id="usuario_infos"> <button id="usuario_foto"><img src="" alt=""></button> <span th:text="${u.nome}">nome</span> </div>
            </div>

            <main>
                <div>
                    <h1>MASTERBOARD</h1>
                    <h3 class="ms-3">SOLICITAÇÕES PENDENTES: NOVAS EMPRESAS</h3>
                </div><br><br>
                <div id="empresas" class="d-flex flex-column accordion">
                    

                    <!-- accordions -->
                    <div th:each="s : ${solicitacoes}" class="accordion-item ms-3 mb-5">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${s.id}" th:aria-controls="'collapse' + ${s.id}">
                                <div><h3 th:text="${s.nome}"> NOME DA EMPRESA</h3> <p th:text="${s.dataSolicitacao}">data</p></div>
                            </button>
                        </h2>
                        <div th:id="'collapse' + ${s.id}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="info d-flex flex-row gap-3">
                                    <div class="empresa_infos w-50" >
                                        <div> <h3>Razão social:</h3> <span th:text="${s.razaoSocial}">TEXTO</span> </div>
                                        <div> <h3>Nome:</h3>  <span th:text="${s.nome}">TEXTO</span></div>
                                        <div> <h3>Email:</h3>  <span th:text="${s.email}">TEXTO</span></div>
                                        <div> <h3>Endereço:</h3>  <span th:text="${s.endereco}">TEXTO</span></div>
                                    </div>
                                    <div class="empresa_infos w-50">
                                        <div> <h3>CNPJ:</h3>  <span th:text="${s.cnpj}">TEXTO</span></div>
                                        <div> <h3>Telefone:</h3>  <span th:text="${s.telefone}">TEXTO</span></div>
                                    </div>
                                </div><br>
                                <div class="inputs d-flex justify-content-end gap-3">
                                    <input type="button" class="rejeitar_btn" value="REJEITAR">
                                    <input type="button" class="aprovar_btn" value="APROVAR">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </main>
    </body>

    <script th:src="@{/js/solicitacoes_avaliacao.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>